:root {
  --brown: #d5966c;
  --almost-black: #151515;
  --white: #ffffff;
  --dark-gray: #444444;
}

.paragraph1,
.paragraph2,
.paragraph3 {
  font-family: "Outfit", sans-serif;
}
.header1,
.button,
.header2,
.header3 {
  font-family: "Big Shoulders Display", cursive;
}
/* Mobile First Design */
.header1 {
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 3.438rem;
  text-transform: uppercase;
}
.header2 {
  font-size: 3.125rem;
  line-height: 2.813rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--almost-black);
  margin: 21px 0;
}
.header3 {
  font-size: 3.125rem;
  line-height: 2.813rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 32px;
  color: var(--white);
}
.paragraph1 {
  color: var(--dark-gray);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 21px 0;
}
.button {
  background: var(--almost-black);
  color: var(--white);
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.496rem;
  cursor: pointer;
  letter-spacing: 0.228rem;
  padding: 24px 35px;
}
.paragraph2 {
  color: var(--white);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.paragraph3 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--white);
  margin: 38px 0;
}
.header-text {
  display: none;
}
.mobile-image {
  width: 100%;
}
.main-header {
  padding: 32px 16px 16px;
}
a img {
  background: var(--brown);
  padding: 24px;
}
.button-location {
  display: flex;
  text-decoration: none;
}
.container {
  padding: 120px 16px;
}
.content img {
  width: 100%;
}
.content {
  margin: 16px 0;
}
.picture1 {
  width: 100%;
}
.picture2 {
  width: 100%;
  margin-top: 16px;
}
.grid-text {
  background: var(--almost-black);
  padding: 48px 24px;
  margin-top: 16px;
}

footer {
  background: var(--almost-black);
  padding: 46px 32px 50px 32px;
}

.logo {
  width: 110px;
}

.footer-icons a {
  padding: 16px 20px 0 0;
}

.button-location:hover .button {
  background: var(--brown);
}
.button-location:hover > img {
  background: var(--almost-black);
}
.icons:hover path {
  fill: #d5966c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Responsive web design for Tablet */

@media screen and (min-width: 768px) {
  .mobile-image {
    display: none;
  }
  .general-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    background-image: url(../assets/tablet/image-hero@2x.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50% 200%;
  }

  .header1 {
    font-size: 4.375rem;
    line-height: 4.063rem;
  }
  .header2 {
    margin: 21px 0;
  }
  .header3 {
    padding-bottom: 32px;
  }

  .main-header {
    padding: 145px 40px 120px 389px;
  }
}

/*

body {
  width: 1440px;
}

.header1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 88px;
  text-transform: uppercase;
  width: 514px;
  height: 176px;
}

.header2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 32px;
  color: var(--almost-black);
}
.header3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 32px;
  color: var(--white);
}
.paragraph1 {
  color: var(--dark-gray);
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  width: 350px;
  height: 160px;
  display: inline;
}
.button {
  background: var(--almost-black);
  padding: 24px 35px 24px 32px;
  color: var(--white);
  font-weight: 800;
  font-size: 20px;
  line-height: 23.94px;
  margin-top: 64px;
  cursor: pointer;
  letter-spacing: 3.63636px;
}

.flex1 {
  padding-left: 246px;
  width: 300px;
}
.button-location:hover .button {
  background: var(--brown);
}
.button-location:hover > img {
  background: var(--almost-black);
}

.paragraph2 {
  color: var(--white);
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}
.paragraph3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
  max-width: 430px;
}
.button-location {
  display: flex;
  text-decoration: none;
  padding-top: 64px;
}

a img {
  background: var(--brown);
  padding: 24px;
  margin-top: 64px;
}



.mobile-image {
  width: 100%;
  display: none;
}

.main-header {
  display: flex;
  padding: 190px 160px 180px 165px;
}

.main-header > p {
  margin: 32px 0;
}
main {
  padding: 120px 16px;
}
.general-header {
  display: flex;
  background-color: var(--almost-black);
  width: 990px;
  height: 800px;
  background-image: url(../assets/desktop/image-hero@2x.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-header > h1 {
  color: var(--white);
  width: 514px;
  mix-blend-mode: difference;
}
.content {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 164px;
  padding-left: 165px;
  justify-content: space-between;
  align-items: center;
}
.content > img {
  width: 635px;
  height: 400px;
}
.main-content {
  padding-right: 125px;
}
.picture1 {
  display: none;
}
.pictures {
  display: flex;
  padding-top: 60px;
  padding-left: 150px;
}
.pictures::before {
  content: url(../assets/desktop/image-grid-2.jpg);
  z-index: 99;
  width: 635px;
  height: 720px;
}
.pictures::after {
  content: url(../assets/desktop/image-grid-3.jpg);
  transform: translateX(-107%);
}

.picture2 {
  display: none;
}
.right-grid {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.grid-text {
  background: var(--almost-black);
  width: 350px;
  height: 320px;
  padding: 30px 36px 0px 60px;
  margin: 0px 30px;
}
footer {
  background: var(--almost-black);
  display: flex;
  padding: 80px 100px 80px 130px;
  justify-content: space-between;
}

.logo {
  width: 180px;
}

.footer-icons a {
  padding: 16px 14px 0 0;
}
.icons:hover path {
  fill: #d5966c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 375px) {
  .general-header {
    display: none;
  }
  #header-mobile {
    display: block;
    color: var(--almost-black);
  }

  .mobile-image {
    width: 100%;
    display: block;
  }

}
*/
